h1{color: red;}
body{background-color:bisque;} 
*{color:black;}
h1{font-size: 30px;
color:red;}
#modeloDeCaja{
    width: 300px;
    border: 15px solid green;
    margin: 20px;
}
header{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color:aquamarine;
}
menu{
    list-style-type: none;

}
menu > a > li{
    display: inline;
} 

#col-der{width: 50%; float:right}
#col-izq{width: 100%; float:left}

footer{
    position: fixed;
    bottom: 0px;
    color:blue;
    background-color: blanchedalmond;
}
